.vscode
.ipynb_checkpoints
__pycache__

*.sqlite

build/increase/*
!build/increase/.gitkeep

build/stream/*
!build/stream/.gitkeep
build/stencil-2d/*
!build/stencil-2d/.gitkeep
build/cg/*
!build/cg/.gitkeep
